
<div class="container-fluid p-1 bg-primary text-white text-center">
  <h1>Job Search Sites </h1>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <%= link_to "New Job Site", new_job_site_path, class:"btn btn-primary" %>
        </div>
    </div>
    <table id='job_site_dt' class="table table-striped" style="width:100%">
        <thead>
            <th>Site Name</th>
            <th>Site URL</th>
            <th>Rating</th>
            <th>Review Headline</th>
            <th>Site Last Visted</th>
        </thead>

        <tbody>
        <% @job_sites.each do |job_site| %>
        <tr>
            <td><%= link_to job_site.name, job_site %></td>
            <td><%= job_site.url %></td>
            <td><%= job_site.rating %></td>
            <td><%= job_site.review_text %></td>
            <td><%= job_site.last_visited_at.strftime("%a %b %d, %Y")  %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // JavaScript, NOT jquery... jquery not likely loaded yet!

  console.log("job_sites/index.html.js ready func")
      new DataTable('#job_site_dt', {
        order: [[2, 'asc']],
        "pageLength": 25
    });
});
</script>
