<div class="container-fluid p-1 bg-primary text-white text-center">
<h1><%= @job_site.name %></h1>
</div>

<a href="http://localhost:3000/job_sites/">Home</a>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <%= link_to "Edit Site", edit_job_site_path(@job_site), class:"btn btn-primary" %>
      <%= link_to "Destroy", job_site_path(@job_site), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>URL</strong><br>
      <%= @job_site.url %>
    </div>
    <div class="col">
      <strong>Last Visited</strong><br>
      <%= @job_site.last_visited_at.strftime("%a %b %d, %Y") %>
    </div>
    <div class="col">
      <strong>Resume Last Updated</strong><br>
      <%= @job_site.resume_updated_at.strftime("%a %b %d, %Y") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <%= @job_site.description %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
    <strong>Review Comments</strong><br>
      <%= @job_site.review_text %>
    </div>
  </div>
</div>

<div class="container mt-5">
<h2>Add a Job Listing:</h2>
  <%= render 'job_postings/form' %>

  <h2>Job Listings Applied</h2>
  <%= render @job_site.job_postings %>


    <table id='job_site_dt' class="table table-striped" style="width:100%">
        <thead>
            <th>Company Name</th>
            <th>Posting Title</th>
            <th>Posting Type</th>
            <th>Posting City</th>
            <th>Applied On</th>
            <th>Actions</th>
        </thead>

        <% unless @job_site.job_postings.nil? %>
        <tbody>

          <%= render 'job_postings/job_posting' %>

        </tbody>
        <% end %>
    </table>


</div>

