<div class="container mt-5">
    <%= form_with model: [ @job_site, @job_site.job_postings.build ] do |form| %>
    <div class="row">
        
        <div class="col-3">
            <div class="input-group">
                <label class="input-group"><strong>Company Name</strong></label>
                <%= form.text_field :company_name , class:"form-control", :required => true %>
            </div>
        </div>
        <%= form.hidden_field :company_url, value: "" %>
        <div class="col-4">
            <div class="input-group">
                <label class="input-group"><strong>Posting Title</strong></label>
                <%= form.text_field :posting_title , class:"form-control", :required => true %>
            </div>
        </div>
        <%= form.hidden_field :posting_url, value: "" %>
        <div class="col-3">
            <div class="input-group">
                <label class="input-group"><strong>Location City</strong></label>
                <%= form.text_field :posting_location_city , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="input-group"><strong>Location Type</strong></label>
                <%= form.select :posting_location_type, ['On-Site', 'Hybrid', 'Remote'] %>
            </div>
        </div>
    </div>
    <%= form.hidden_field :employment_type, value: "" %>
    <%= form.hidden_field :posting_id, value: "" %>
    <%= form.hidden_field :pay_range, value: "" %>
    <%= form.hidden_field :applied_at, value: Time.current.getlocal %>
    <%= form.hidden_field :rejected_at, value: "" %>
    <%= form.hidden_field :archive, value: "" %>
    <%= form.hidden_field :posting_comments, value: "" %>


    <div class="row">
        <div class="col-3">
            <%= form.submit %>
        </div>
    </div>
    <% end %>
</div>

<%# add archived, pay range, company logo %>