<div class="container mt-3">
    <%= form_with model:@job_posting , :html => {:id => "posting_tbl"}  do |form| %>
    <div class="row mt-3 mb-3" style="position:sticky; display: flex; top: 4rem; z-index:10;">
        <div class="col mt-3 mb-3" style="background: white !important;">
            <%= form.submit 'Update Posting', :class =>'btn btn-primary'  %>
            
            <%= link_to '<button class="btn btn-secondary">Back</button>'.html_safe, 'javascript:history.back()', class:'ml-2 float-right' %>
            <button onclick="clear_form()" class="float-right btn btn-danger mr-5">Clear Posting</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="input-group">
                <label class="input-group">Posting Title</label>
                <%= form.text_field :posting_title , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="input-group">
                <label class="input-group">Company Name</label>
                <%= form.text_field :company_name , class:"form-control", :required => true %>
            </div>
        </div>
        <!--div class="col-sm-12 col-md-6">
            <div class="input-group">
                <label class="input-group">Company URL</label>
                <%= form.text_field :company_url , class:"form-control" %>
            </div>
        </div-->
        
    </div>
    <div class="row pt-3">
        
        <div class="col-sm-12 col-md-9">
            <div class="input-group">
                <label class="input-group">Posting URL</label>
                <%= form.text_field :posting_url , class:"form-control" %>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="input-group">
                <label class="input-group">Status</label>
                <%= form.select :posting_status, ['4 - No Response', '3 - Rejected', '2 - Awaiting Feedback', '1 - Actively Engaged'],
                     {}, { :class => "form-control" } %>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-6">
            <div class="input-group">
                <label class="input-group">Posting Location City</label>
                <%= form.text_field :posting_location_city , class:"form-control", :required => true %>
            </div>
        </div>
        <!--div class="col">
            <div class="input-group">
                <label class="input-group">Posting ID</label>
                <%= form.text_field :posting_id , class:"form-control" %>
            </div>
        </div-->
        <div class="col-3">
            <div class="input-group">
                <label class="input-group">Location Type</label>
                <%= form.select :posting_location_type, ['On-Site', 'Hybrid', 'Remote'], {}, { :class => "form-control" } %>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <label class="input-group">Employment Type</label>
                <%= form.select :employment_type, ['Full-time', 'Freelance', 'Contract'], {}, { :class => "form-control" } %>
            </div>
        </div>
        <!--div class="col-2">
            <div class="input-group form-check">
                <%= form.check_box :archive , class:"form-check-input"  %>
                <%= form.label :archive , " Archive", class:"form-check-label" %>
            </div>
        </div-->

    </div>

    <div class="row pt-3">
        <div class="col-md-6 col-lg-3">
            <div class="input-group">
                <label class="input-group">Pay Range</label>
                <%= form.text_field :pay_range , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="input-group">
                <label class="input-group">Applied On</label>
                <%= form.datetime_field :applied_at , class:"form-control", :required => true %>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="input-group">
                <label class="input-group">Rejected On</label>
                <%= form.datetime_field :rejected_at , class:"form-control" %>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="input-group">
                <label class="input-group">Interviewed On</label>
                <%= form.datetime_field :interviewed_at , class:"form-control"%>
            </div>
        </div>

    </div>
    
    <div class="row mt-3">
        <div class="col">
            <div class="  w3-padding w3-round ws-grey w3-border w3-padding-16">
                <%= form.label :technology_stack %>
                <%= form.text_field :technology_stack , class:"form-control", style:"margin-top:5px!important", :required => true %>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="  w3-padding w3-round ws-grey w3-border w3-padding-16">
                <%= form.label :posting_comments %>
                <%= form.text_area :posting_comments, rows: 30, class:"form-control",style:"margin-top:5px!important" %>
            </div>
        </div>
    </div>
    <!--div class="row mt-3 mb-8">
        <div class="col mt-3 mb-3">
            <%= form.submit  %>
            <%= link_to '<button>Back</button>'.html_safe, 'javascript:history.back()', class:'ml-2 float-right' %>
        </div>
    </div-->
    <% end %>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // JavaScript, NOT jquery... jquery not likely loaded yet!
        console.log("Edit Posting Mode!");
        console.log("index.js ready func")

        
});

function clear_form(){  
            document.getElementById("posting_tbl").reset()
            $("#job_posting_posting_location_city").val('')
            $("#job_posting_posting_title").val('')
            $("#job_posting_company_name").val('')
        }
</script>
<%# add archived, pay range, company logo %>