<div class="container mt-5">
    <%= form_with model:@job_posting   do |form| %>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <label class="input-group">Company Name</label>
                <%= form.text_field :company_name , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Company URL</label>
                <%= form.text_field :company_url , class:"form-control" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <label class="input-group">Posting Title</label>
                <%= form.text_field :posting_title , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Posting URL</label>
                <%= form.text_field :posting_url , class:"form-control" %>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group">
                <label class="input-group">Posting Location City</label>
                <%= form.text_field :posting_location_city , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Posting Location Type</label>
                <%= form.select :posting_location_type, ['On-Site', 'Hybrid', 'Remote'] %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Employment Type</label>
                <%= form.select :employment_type, ['Full-time', 'Freelance', 'Contract'] %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Posting ID</label>
                <%= form.text_field :posting_id , class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group">
                <label class="input-group">Pay Range</label>
                <%= form.text_field :pay_range , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Applied On</label>
                <%= form.datetime_field :applied_at , class:"form-control", :required => true %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Rejected On</label>
                <%= form.date_field :rejected_at , class:"form-control" %>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group">Archive</label>
                <%= form.text_field :archive , class:"form-control" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" mb-3 mt-3 w3-padding w3-round ws-grey w3-border w3-padding-16">
                <%= form.label :technology_stack %>
                <%= form.text_field :technology_stack , class:"form-control", style:"margin-top:5px!important", :required => true %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" mb-3 mt-3 w3-padding w3-round ws-grey w3-border w3-padding-16">
                <%= form.label :posting_comments %>
                <%= form.text_area :posting_comments, rows: 10, class:"form-control",style:"margin-top:5px!important" %>
            </div>
        </div>
    </div>
    <p>
        <%= form.submit %>
        <strong>Need a back / Cancel button here!  And maybe the primary tech for the position?  PHP? Python? Ruby? Other?</strong>
    </p>
    <% end %>
</div>

<%# add archived, pay range, company logo %>