
<div class="mt-5 text-center">
  <h1>Postings Applied in 2024</h1>
</div>

<div class="container mt-5">
    <p> These are all of the postings that I have applied for since I started using Pathrise.  (Pathrise has applied to some on my behalf)</p>

    <table id='per_campaign_report_dt' class="table table-striped" style="width:100%">
        <thead>
            <th>#</th>
            <th>Company Name</th>
            <th>Posting Title</th>
            <th>Posting Status</th>
            <th>Applied On</th>
            <th>Rejected On</th>
            <th>Interviewed On</th>
        </thead>

        <tbody>
        <% row_num = 1 %>
        <% @reportData.each do |report_row| %>
        <tr>
            <td><%= row_num %></td>
            <td><%= report_row['company_name'] %></td>
            <td><%= report_row['posting_title'] %></td>
            <td><%= report_row['posting_status'] %></td>
            <td><%= report_row['applied_on'] %></td>
            <td><%= report_row['rejected_on'] %></td>
            <td><%= report_row['interviewed_on'] %></td>
        </tr>
        <% row_num += 1 %>
        <% end %>
        </tbody>
    </table>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // JavaScript, NOT jquery... jquery not likely loaded yet!
  console.log("Hello World!");
  console.log("index.js ready func")
      new DataTable('#per_campaign_report_dt', {
        pageLength: 10,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All']
        ]
    });
});
</script>