<!DOCTYPE html>
<html>
  <head>
    <title>JobSearchApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">B's Job Search App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/intro">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tips">Job Hunting Tips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/job_sites">Search Sites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/job_postings">Postings Applied</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/email_opportunities">Email Opportunities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/per_week_reports">Per Week Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/per_site_reports">Per Site Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/per_campaign_reports">2024 Spring Report</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
